#map {
    height: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
}
#slider {
    margin: 15px;
    padding: 20px;
    border: 1px solid #4CAF50;
    width: 80vw;
}
.customSlider {
    max-width: 800px;
    margin: auto;
}
.customSlider-Track {
    top: 8px;
    height: 4px;
    background: #ddd;
}
.customSlider-Track.customSlider-Track-0 {
    background: rgb(104, 117, 217, 0.2);
}
.customSlider-Thumb {
    cursor: pointer;
    background: rgb(104, 117, 217, 0.2);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    outline: none;
}
.leaflet-container {
  width: 120vh;
  height: 60vh;
}

.sr-only {
    display: none;
}

.leaflet-draw-draw-polyline {
    display: none !important;
}

.leaflet-draw-draw-rectangle {
    display: none !important;
}

.leaflet-draw-draw-circle {
    display: none !important;
}

.leaflet-draw-draw-marker {
    display: none !important;
}

.leaflet-draw-draw-circlemarker {
    display: none !important;
}